# **Setup**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Folder_Input = "Input Data"

# **Data Import**

In [4]:
df_card = pd.read_csv(f'{Folder_Input}/Visa Climate Tech Data.xlsx - 2_Card data.csv')

print(df_card.shape)
print(df_card.columns)
df_card.head()

(1379, 13)
Index(['cpd_mnth_id', 'cpd_dt', 'cluster_name_adjusted', 'mrch_catg_cd',
       'mrch_catg_rlup_nm', 'merchant', 'cp_flag', 'domestic_flag',
       'intraregion_flag', 'interregion_flag', 'city_name', 'country_code',
       'spend'],
      dtype='object')

,cpd_mnth_id,cpd_dt,cluster_name_adjusted,mrch_catg_cd,mrch_catg_rlup_nm,merchant,cp_flag,domestic_flag,intraregion_flag,interregion_flag,city_name,country_code,spend
0,202306,6/8/2023,Family,7523,"PARKING LOTS,METERS,GARAGES",APCOA,0,1,0,0,Not_Available,826,6.25
1,202306,6/13/2023,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.39
2,202307,7/9/2023,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.41
3,202306,6/13/2023,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.39
4,202307,7/9/2023,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.41

In [5]:
df_bank = pd.read_csv(f'{Folder_Input}/Visa Climate Tech Data.xlsx - 3_Open banking data.csv')

print(df_bank.shape)
print(df_bank.columns)
df_bank.head()

(1378, 8)
Index(['Name', 'Value.accountId', 'cluster_name_adjusted',
       'Value.amount.currencyCode', 'mrch_catg_rlup_nm2', 'Value.dates.booked',
       'amount', 'Category'],
      dtype='object')

,Name,Value.accountId,cluster_name_adjusted,Value.amount.currencyCode,mrch_catg_rlup_nm2,Value.dates.booked,amount,Category
0,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,5/12/2023,3.73,entertainment
1,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,5/12/2023,3.73,entertainment
2,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,6/2/2023,4.39,entertainment
3,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,6/2/2023,7.40,entertainment
4,transactions,6r88582adf954cf6b3db6cc97bedccd9,Urban Spenders,GBP,ART DEALERS & GALLERIES,7/14/2023,6.57,entertainment